<div class="row mt-5">
  <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
          <h1><i class="fas fa-hospital fa-3x"></i></h1>
          <h2>Welcome to Healthcare Management System</h2>
          <p>Efficiently manage patient records, appointments, and more.</p>
          <div class="row mt-3">
              <div class="col-md-6">
                  <a href="/users/register" class="btn btn-primary btn-block"
                      >Register</a
                  >
              </div>
              <div class="col-md-6">
                  <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
              </div>
          </div>
      </div>
  </div>
</div>
